<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <route url="/" module="Afficher" action="home"/>

    <route url="/rapports/ajouter/([0-9]+)" module="Administrer" vars="id" action="form"/>


    <route url="/entreprises/index" module="Administrer" action="entreprise"/>
    <route url="/poles-activites/index" module="Administrer" action="pole"/>

    <route url="/rapports/config" module="Administrer" action="rapports"/>
    <route url="/rapports/config/view/([0-9]+)" module="Administrer" vars="id" action="configview"/>

    <route url="/rapports/view/([0-9]+)" module="Administrer" vars="id" action="view"/>
    <route url="/rapports/view/display/([0-9]+)" module="Administrer" vars="id" action="display"/>

    <route url="/rapports/view/delete/([0-9]+)" module="Administrer" vars="id" action="delete"/>

    <route url="/rapports/update/statut/([0-9]+)/([0-9]+)" module="Administrer" vars="statut,rapport" action="statut"/>
    <route url="/rapports/kpi" module="Administrer" action="pannel"/>
    <route url="/rapports/control/index" module="Afficher" action="control"/>

    <route url="/Logout" module="Connexion" action="logout"/>




    <route url="/Profile" module="Connexion" action ="Profile"/>
    <route url="/CheckPassword" module="Connexion" action="CheckPassword"/>
    <route url="/NewPassword" module="Connexion" action="NewPassword"/>
    <route url="/ValidPassword" module="Connexion" action="ValidPassword"/>
    <route url="/users/index" module="Connexion" action="Pannel"/>
    <route url="/addUsers" module="Connexion" action="addUsers"/>
    <route url="/deleteUsers/([0-9]+)" module="Connexion" vars="id" action="deleteusers"/>
    <route url="/editUsers/([0-9]+)" module="Connexion" vars="id" action="editUsers"/>
    <route url="/updateUsers" module="Connexion" action="updateUsers"/>

</routes>